StockExchange/StockExchange.Test/Service References/ServiceReference1/StockExchangeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://asmx.crossover.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://asmx.crossover.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stock Exchange Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://asmx.crossover.com/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="AuthenticateUser">
        <s:complexType />
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader" />
      <s:complexType name="SecuredWebServiceHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerUserModel" type="tns:RegisterUserModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterUserModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserQuestion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateUserResult" type="tns:MembershipCreateStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="MembershipCreateStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="InvalidUserName" />
          <s:enumeration value="InvalidPassword" />
          <s:enumeration value="InvalidQuestion" />
          <s:enumeration value="InvalidAnswer" />
          <s:enumeration value="InvalidEmail" />
          <s:enumeration value="DuplicateUserName" />
          <s:enumeration value="DuplicateEmail" />
          <s:enumeration value="UserRejected" />
          <s:enumeration value="InvalidProviderUserKey" />
          <s:enumeration value="DuplicateProviderUserKey" />
          <s:enumeration value="ProviderError" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetStockPrices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStockPricesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStockPricesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockPricesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStockPrices" />
  </wsdl:message>
  <wsdl:message name="GetStockPricesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockPricesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockPricesSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:portType name="StockExchangeServiceSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStockPrices">
      <wsdl:input message="tns:GetStockPricesSoapIn" />
      <wsdl:output message="tns:GetStockPricesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockExchangeServiceSoap" type="tns:StockExchangeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://asmx.crossover.com/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://asmx.crossover.com/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockPrices">
      <soap:operation soapAction="http://asmx.crossover.com/GetStockPrices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStockPricesSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StockExchangeServiceSoap12" type="tns:StockExchangeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://asmx.crossover.com/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://asmx.crossover.com/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockPrices">
      <soap12:operation soapAction="http://asmx.crossover.com/GetStockPrices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStockPricesSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockExchangeService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Stock Exchange Web Service</wsdl:documentation>
    <wsdl:port name="StockExchangeServiceSoap" binding="tns:StockExchangeServiceSoap">
      <soap:address location="http://localhost:45414/StockExchangeService.asmx" />
    </wsdl:port>
    <wsdl:port name="StockExchangeServiceSoap12" binding="tns:StockExchangeServiceSoap12">
      <soap12:address location="http://localhost:45414/StockExchangeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>